# SUPERMARKET SALES

Proyecto de análisis de Series Temporales y Forecast
-- Análisis Serie Temporal - Forecast --

Jose Luis Quintero García, abr2023

## Importación de librerías y carga de datos

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
ordenes = pd.read_csv("./ordenes.csv", parse_dates=["Order Date", "Ship Date"])
ordenes.head()

,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,City,Product ID,Sales,Quantity,Discount,Profit,Devolucion
0,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Henderson,FUR-BO-10001798,261.9600,2,0.00,41.9136,0
1,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Henderson,FUR-CH-10000454,731.9400,3,0.00,219.5820,0
2,CA-2016-138688,2016-06-12,2016-06-16,Second Class,DV-13045,Darrin Van Huff,Los Angeles,OFF-LA-10000240,14.6200,2,0.00,6.8714,0
3,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,Sean O'Donnell,Fort Lauderdale,FUR-TA-10000577,957.5775,5,0.45,-383.0310,0
4,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,Sean O'Donnell,Fort Lauderdale,OFF-ST-10000760,22.3680,2,0.20,2.5164,0

In [3]:
# Quitamos los registros donde haya una devolución
ordenes = ordenes.loc[ordenes["Devolucion"]==0]

# Borramos la columna "devolucion", que ahora sobra
ordenes.drop(["Devolucion"], axis=1, inplace=True)

## Análisis

El trabajo a realizar es el siguiente:

1. Expondremos los datos de ventas del producto más vendido y haremos un análisis de la serie temporal resultante, con datos de ventas por días.
2. Analizaremos si la serie es o no estacionaria y si presenta algún tipo de patrón de estacionalidad. 
3. Con ello determinaremos el mejor modelo para realizar un forecast de ventas durante el próximo mes.